@font-face {
  font-family: "Open Sans" ;
  src: url(../fonts/OpenSans-Regular-webfont.woff);
}

@font-face {
  font-family: "Open Sans Bold" ;
  src: url(../fonts/OpenSans-Bold-webfont.woff); 
  font-weight:bold;
}
.bulle {
  position: relative;
  margin-bottom: 6.25rem;
}

.bulle-icone.verte {
  background-color:#0CEEC0;
}

.bulle-icone-bordure.verte{
  background-color:#03886D;
}

.menu{
  width: 18.35rem;
  height: 10rem;
  font-size: x-large;
  background-color: #F9F9F9 no repeat padding-box;
  color:rgb(3, 136, 109);
  padding: 0;
  margin-bottom: 1rem;
  border: 0.063rem solid rgb(3, 136, 109);
}

.menu ul {
  list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-weight: semi bold 600;
    color: black;
    margin-top: 1rem;
    margin-left: 1rem;
    line-height: 2;
    color:#03886D;
    font-size: 1.5rem;
}

.menu ul li a:hover {
    color: #EF509F; 
  }

.menu ul {
    list-style-type: none;
    padding: 0;
  }

  .menu ul li {
    padding-bottom:0.875 rem;
  }
  .menu ul li a:hover {
    color: black;
  }

  .paragraphe{
    width:80rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .margin{
    margin-bottom: 2rem;
    margin-top: 1rem; 
  }

  .paragraphe ul {
    list-style: disc;
  }

    .image{
        width: 80rem;
        display: block;
        height: 53.375rem;
    }
    .image1 img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }

    .SAE{
        font-size: 2.25rem;
        font-weight: bold;
    }

    .presentationSAE{
        font-size: 1.25rem;
    }

    .txt-gras{
      font-weight: bold;
    }

    .soustitres{
      font-weight: bold;
      font-size: x-large;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
    .conteneur-carte{
        display: flex;
       justify-content: space-evenly;
       margin-bottom: 1rem;
       align-items: flex-start;
       flex-wrap: nowrap;
    }

   .carte{
    background: white;
    border-radius: 0.188rem;
    box-shadow: 0 0.188rem 0.375rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 20.2500rem;
    width: 20.25rem;;
    height: 38.1250rem;
    text-align: left;
    display: inline-block;
    flex-wrap: wrap;
    margin: 0.625rem;
   }

   .image-carte{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   }

   .image-carte img{
    max-width:100%;
    max-height: 100%;
    height: 20.313rem 25rem;
    display: block;
    object-fit: cover;
    background-color: transparent;
   }

   .contenu-carte {
    padding: 0.313rem 0.313rem 0.313rem;
    display: flex;
    flex-direction: column;
}

.contenu-carte h2 {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}
.contenu-carte p {
    font-size: 1.25rem;
    color:black;
    padding-bottom: 0;
}

.footer{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.625rem 1.25rem;
  justify-content: center;
}

.university-logo img{
  max-width: 6.875rem;
  margin-right: 1.25rem;
}

.footer-content{
  color: gray;
  border-left: 0.125rem solid #ccc;
  padding-left: 1.25rem;
}

.footer-content p {
  margin:0.3125rem;
}

.footer-content a {
  color:#007bff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration:underline ;
}

.liste{
  margin-left:5rem; 
}

#exemples{
  margin-left: 5.5rem;  
}

