@font-face {
    font-family: "Open Sans" ;
    src: url(../fonts/OpenSans-Regular-webfont.woff);
  }

  @font-face {
    font-family: "Open Sans Bold" ;
    src: url(../fonts/OpenSans-Bold-webfont.woff); 
    font-weight:bold;
  }

/*--------------------------------*/
/*INTRODUCTION*/ 
.conteneur-1280{
    max-width: 100%; 
    max-height: 100%; 
}
.corps{
    max-width: 100%; 
    max-height: 100%;
    margin-left: 5rem; 
}

.premiere-partie{
    width: 59.438rem; 
    height: 6.125rem; 
    margin-bottom: 1rem; 
}

.titre-page{
    font-family: "Open Sans"; 
    font-weight : bold; 
    text-align : left; 
    color: black;
    font-size : 2.25rem ; 
    letter-spacing : 0rem; 
}

.texte-intro{
    width: 80.125rem; 
    height: 5.063rem; 
    margin-bottom: 4rem; 
}

.texte-base{ 
    font-family: "Open Sans"; 
    text-align : left; 
    color: black; 
    font-size : 1.25rem ; 
    letter-spacing : 0rem; 
    line-height: 1.688rem; 
}

.texte-gras{
    font-family : "Open Sans Bold"; 
    text-align : left; 
    color: black;
    font-size : 1.25rem ; 
    letter-spacing : 0rem; 
}

/*--------------------------------*/




/*--------------------------------*/
/*FORMULAIRE*/
.premier-contact{
    width:54.25rem;
    height:3.5rem; 
    margin-bottom: 0.5rem; 
}

.label-form{
    font-family :"Open Sans Bold"; 
    text-align: left; 
    color:black;  
    font-size: 1.5rem; 
    letter-spacing : 0px;
}

#prenom{
    width: 54.813rem;
    height: 4.313rem; 
    padding: 0.625rem;
    font-size: 1rem;
    border: 1px solid#707070;
    border-radius: 0.313rem;
    margin-bottom: 1.5rem; 
}

#nomdefamille{
    width: 54.813rem;
    height: 4.313rem; 
    padding: 0.625rem;
    font-size: 1rem;
    border: 1px solid #707070;
    border-radius: 0.313rem;
    margin-bottom: 1.5rem;
}

#courriel{
    width: 54.813rem;
    height: 4.313rem; 
    padding: 0.625rem;
    font-size: 1rem;
    border: 1px solid #707070;
    border-radius: 0.313rem;
    margin-bottom: 1.5rem;
}

#textarea{
    width: 54.813rem;
    height: 22.25rem; 
    padding: 0.625rem;
    font-size: 1rem;
    border: 1px solid #707070;
    border-radius: 0.313rem;
    margin-bottom: 2rem;
    resize: none; 
}

#boutons{
    display :flex; 
    margin-bottom: 4rem; 
    gap: 0.938rem; 
}

#envoyer{
    width: 54.813rem; 
    height: 5.313rem; 
    background-color: #1453FF; 
    color : white; 
    text-transform :uppercase;
    border: 1px solid #707070 ; 
    border-radius: 0.313rem;
    font-family : "Open Sans Bold"; 
    font-size: 2.25rem; 
    text-align: center; 
    margin-bottom: 6rem; 
}
/*--------------------------------*/




/*--------------------------------*/
/*COURRIER*/
.deuxieme-contact{
    max-width: 100%; 
    max-height: 100%; 
    margin-left : 0.7rem;
    margin-bottom:0.5rem; 
}

.adresse{
    max-width: 100%; 
    max-height: 100%; 
    margin-left : 0.7rem; 
}

/*--------------------------------*/


/*--------------------------------*/
/*BULLE*/
.bulle {
    position: relative;
    margin-bottom: 6.25rem;
  }
  
  .bulle-icone.jaune {
    background-color:#FFE700;
  }
  
  .bulle-icone-bordure.jaune {
    background-color:#EE8F00;
  }

.formulaire-boite{
    max-width: 100%; 
    max-height: 100%; 
    margin-bottom : 3rem; 
}

.error{
    font-family:"Open Sans"; 
    color: red; 
    font-weight: bold; 
}
