@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular-webfont.woff);
}

@font-face {
  font-family: "Open Sans SemiBold";
  src: url(../fonts/OpenSans-Semibold-webfont.woff);
}

.case {
  max-width: 50rem;
  margin: 1.25rem auto;
  border-radius: 0.75rem;
  box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

h2 {
  font-size: 1.5rem;
  font-family: "Open Sans SemiBold"; 
  margin: 1.25rem;
  color: #333;
}

.marge {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin: 0 1.25rem 1.25rem;
  font-family:"Open Sans"; 
}

